.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.item-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 600px;
  border: 1px solid #fff;
  padding: 15px;
  border-radius: 15px;
}
.item-task {
  font-size: 18px;
  color: #fff;
}
.item-btn {
  margin-left: 20px;
}
